body {
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  height: 100vh;
  width: 100%;
}

section:nth-child(even) {
  background: salmon;
}

section:nth-child(odd) {
  background: rebeccapurple;
}
